<%- include('../partials/head') %>

<div class="container mt-4">
  <h1 class="text-center mb-4">Marketplace Listings</h1>

  <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 g-4">
    <% foundListings.forEach((listing) => { %>
      <div class="col">
        <div class="card h-100">
          <img src="<%= listing.image.url %>" class="card-img-top" alt="Image of <%= listing.title %>">
          <div class="card-body">
            <h5 class="card-title"><%= listing.title %></h5>
            <p class="card-text"><%= listing.description %></p>
            <p class="card-text"><strong><%= listing.price %> BHD</strong></p>
            <a href="/listings/<%= listing._id %>" class="btn btn-primary">View Listing</a>
          </div>
        </div>
      </div>
    <% }) %>
  </div>
</div>

</body>
</html>

